* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 9px;
  background: #0089b78c;
}
::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 10px;
}
::selection {
  color: orangered;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
