.footer {
  /* border-top: 0.6rem solid blue; */
  background-color: #d8e5ecec;
  /* background-color: gray; */
  color: black;
  text-align: center;
  /* height: 100px; */
  padding: 0.25rem 0rem;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}

.footer-content {
  display: flex;
  max-width: 1100px;
  /* height: 50px; */
  flex-wrap: wrap;
  /* border: 1px solid black; */
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.footer-content .portfolio {
  color: white;

  text-decoration: none;
}
.footer-content .logo h2 span {
  color: orange;
  font-size: 2.9rem;
}
.social-media {
  margin-bottom: 1rem;
}
.footer-content p {
  font-size: 18px;
}

.social-media ul {
  background-color: white;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
  gap: 0px;
  font-size: 17px;
  border-radius: 10px;
}
.social-media ul li {
  background-color: white;
  padding: 7px;
}

.social-media ul li {
  margin: 0 1rem;
  transition: transform 0.3s ease-in-out;
  /* text-decoration: none; */
  border-radius: 0%;
}

.social-media li:hover {
  transform: rotateZ(-360deg);
  background: #003d62;
  transition: transform 0.3s ease-in-out;
  color: white;
}
.social-media li:hover a {
  color: white;
}
